<div id="<%= dom_id friend %>">
    <p class="my-2 p-2 border-bottom w-5">
        <strong>First name </strong>
        <span class="m-5"><%= friend.first_name %></span>
    </p>

    <p class="my-2 p-2 border-bottom">
        <strong>Last name</strong>
        <span class="m-5"><%= friend.last_name %></span>
    </p>

    <p class="my-2 p-2 border-bottom">
        <strong>Age</strong>
        <span class="m-5"><%= friend.age %></span>
    </p>

    <p class="my-2 p-2 border-bottom">
        <strong>Phone</strong>
        <span class="m-5"><%= friend.phone %></span>
    </p>

    <p class="my-2 p-2 border-bottom">
        <strong>Email</strong>
        <span class="m-5"><%= friend.email %></span>
    </p>

    <p class="my-2 p-2 border-bottom">
        <strong>Twitter</strong>
        <span class="m-5"><%= friend.twitter %></span>
    </p>
</div>
