<div class="card w-50">
  <div class="card-header bg-dark p-3">
    <h2 class="text-light">Sign In</h2>
  </div>
  <div class="card-body p-3">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { data: { turbo: false} } ) do |f| %>
      <div class="field form-group">
        <% f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email",
        class: "form-control", placeholder: "Email " %>
      </div>

      <div class="field form-group">
        <% f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password",
        class: "form-control", placeholder: "Password " %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field form-group my-3">
          <%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Sign in", class: "btn btn-dark" %>
      </div>
    <% end %>
  </div>
</div>
<div class="mt-3">
  <%= render "devise/shared/links"%>
</div>
