<h1 class="mb-5">Posts</h1>

<% @posts.each do |post| %>

  <div class="card w-50 m-3">
    <div class="card-header p-3">
      <h2><% current_user %></h2>
    </div>
    <div class="card-body p-2">
      <%= render post %>
    </div>
    <div class="card-footer p-2">
      <%= link_to "Download", post, class: "btn btn-dark"%>
      <% if user_signed_in? %>
        <% if post.user == current_user %>
          <%= link_to "Edit", edit_post_path(post), class: "btn btn-secondary mx-3"%>
          <%= link_to 'Delete', post, data: {turbo_method: :delete, turbo_confirm: 'Are you ure?'},
                            class: "btn btn-danger"%>
        <% end %>
      <% end %>
    </div>
  </div>
<%end%>

<% if user_signed_in? %>
  <%= link_to "New post", new_post_path, class:"position-fixed bottom-0 end-0 btn btn-dark m-3" %>
<% end %>
