<!DOCTYPE html>
<html>
  <head>
    <title>Users App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container container-fluid p-3">
      <% if notice %>
        <%= render 'layouts/alerts' %>
      <% end %>
      <%= yield %>
    </div>
    <!-- <%= render 'layouts/footer' %> -->
  </body>
</html>

